<div class="incident-container">
  <header class="incident-header">
    <div class="header-content">
      <img src="/Logo.webp" alt="AlertaVia Logo" class="header-logo">
      <h1>Reportar Incidente</h1>
    </div>
    <button class="back-btn" routerLink="/dashboard">Volver al Dashboard</button>
  </header>

  <div class="incident-content">
    <div class="incident-card">
      <form class="incident-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="incidentType">Tipo de Incidente</label>
        <select id="incidentType" [(ngModel)]="selectedType" name="incidentType" required>
        <option value="" disabled selected>Selecciona un tipo</option>
        <option *ngFor="let type of incidentTypes" [value]="type">{{type}}</option>
        </select>
        </div>

        <div class="form-group">
          <label for="location">Ubicación</label>
          <input type="text" id="location" placeholder="¿Dónde ocurrió?">
        </div>

        <div class="form-group">
          <label for="description">Descripción</label>
          <textarea id="description" rows="4" placeholder="Describe lo que sucedió..."></textarea>
        </div>

        <button type="submit" class="submit-btn">Reportar Incidente</button>
      </form>
    </div>
  </div>
</div>